---
import Layout from "../layouts/Layout.astro";
import Headshot from "../assets/headshot.jpg";
import CCC from "../assets/CCC.png";
import pdcare from "../assets/pdcareconnection.png";
import lofi from "../assets/lofi.png";
import VLP from "../assets/VLP.png";

import { getCollection } from "astro:content";
import BlogCard from "../components/blog-card.astro";

const allPosts = await getCollection("blogs");
---

<Layout title="Bryce Stabenow" activeLink="Home">
  <div class="flex flex-col items-center max-w-xl mx-auto">
    <img
      src={Headshot.src}
      class="rounded-full w-28 h-28 mb-4"
      alt="A headshot image of me, Bryce Stabenow"
    />
    <h1 class="text-xl text-center" style="text-wrap: balence;">
      I'm <strong>Bryce Stabenow</strong>, a software developer <br />from St.
      Louis, MO.
    </h1>
    <p class="mt-2">
      Most of the time you'll find me in front of a pile of code or reading up
      on the latest news. I'm also a movie lover, a music fanatic, and a writer.
    </p>
  </div>

  <div class="mt-16">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl font-extrabold pr-8">Recent Blog Articles:</h2>
      <a
        href="/blog"
        class="transition duration-100 text-center text-sm hover:text-orange-600 hover:border-orange-600 border border-white rounded-full px-4 py-1"
        >Read&nbsp;More&nbsp;&rarr;</a
      >
    </div>
    <ul class="flex flex-col space-y-2 md:space-y-6">
      {allPosts.slice(0, 3).map((post) => <BlogCard post={post} />)}
    </ul>
  </div>

  <div class="mt-24">
    <h2 class="text-2xl font-extrabold mb-4">Recent Client Projects:</h2>
    <div class="masonry">
      <div class="grid">
        <img src={VLP.src} />
        <div class="body">
          <div class="relative">
            <a class="link" target="_blank" href="/"></a>
          </div>
        </div>
      </div>
      <div class="grid">
        <img src={lofi.src} />
        <div class="body">
          <div class="relative">
            <a class="link" target="_blank" href="/"></a>
          </div>
        </div>
      </div>
      <div class="grid">
        <img src={pdcare.src} />
        <div class="body">
          <div class="relative">
            <a class="link" target="_blank" href="/"></a>
          </div>
        </div>
      </div>
      <div class="grid">
        <img src={CCC.src} />
        <div class="body">
          <div class="relative">
            <a class="link" target="_blank" href="/"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
